Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteRule ^$ dist/ [L]
RewriteRule ^_ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) dist/$1 [L]