<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mesto</title>
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          src="<%= require('./images/logo.svg')%>"
          alt="Логотип проекта masto"
          class="logo header__logo"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <div class="profile__image-container">
            <div
              class="profile__image"
              style="
                background-image: url('<%= require('./images/avatar.jpg') %>');
              "
            >
              <div class="profile__edit-icon"></div>
            </div>
          </div>
          <div class="profile__info">
            <h1 class="profile__title">Жак-Ив Кусто</h1>
            <button
              aria-label="edit profile"
              class="profile__edit-button"
              type="button"
            ></button>
            <p class="profile__description">Исследователь океана</p>
          </div>
          <button
            aria-label="add card"
            class="profile__add-button"
						id="modalTriggerAddButton"
            type="button"
          ></button>
        </section>
        <section class="places page__section">
          <ul class="places__list"></ul>
        </section>
      </main>
      <footer class="footer page__section">
        <p class="footer__copyright">© 2021 Mesto Russia</p>
      </footer>
      <div class="popup popup_type_edit popup_is-animated">
        <div class="popup__content">
          <button
            aria-label="close popup"
            type="button"
            class="popup__close"
          ></button>
          <h3 class="popup__title">Редактировать профиль</h3>
          <form class="popup__form" name="editProfile" novalidate>
            <input
              type="text"
              name="name"
              class="popup__input popup__input_type_name"
              placeholder="Имя"
              pattern="^[A-Za-zА-Яа-яЁё\s-]{2,40}$"
							data-error-message="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
							minlength="2"
							maxlength="40"
							required
            />
            <span class="popup__input_type_error" id="name-input-error"></span>
            <input
              type="text"
              name="description"
              class="popup__input popup__input_type_description"
              placeholder="Занятие"
              pattern="^[A-Za-zА-Яа-яЁё\s-]$"
							data-error-message="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
							minlength="2"
							maxlength="200"
							required
            />
            <span class="popup__input_type_error" id="about-input-error"></span>
            <button
              aria-label="save popup"
              type="submit"
              class="button popup__button"
            >
              Сохранить
            </button>
          </form>
        </div>
      </div>
      <div class="popup popup_type_new-card popup_is-animated">
        <div class="popup__content">
          <button
            aria-label="close popup"
            type="button"
            class="popup__close"
          ></button>
          <h3 class="popup__title">Новое место</h3>
          <form class="popup__form" id="popupAddFormId" name="newPlace" novalidate>
            <input
              type="text"
              name="placeName"
              class="popup__input popup__input_type_card-name"
              placeholder="Название"
							pattern="^([a-zA-Zа-яА-Яё]+([- ]+[a-zA-Zа-яА-Яё]+)*)$"
							data-error-message="Разрешены только латинские, кириллические буквы, знаки дефиса и пробелы"
							minlength="2"
							maxlength="30"
							required
            />
            <span class="popup__input_type_error" id="place-input-error"></span>
            <input
              type="url"
              name="link"
              class="popup__input popup__input_type_url"
              placeholder="Ссылка на картинку"
							pattern="^(https?:\/\/).*\.(jpeg|jpg|png|gif|bmp)$"
							data-error-message="Введите корректную ссылку на изображение"
							required
            />
            <span class="popup__input_type_error" id="link-input-error"></span>
            <button
              aria-label="save popup"
              type="submit"
              class="button popup__button"
							id="addNewPlaceSaveButton"
            >
              Сохранить
            </button>
          </form>
        </div>
      </div>
      <div class="popup popup_type_image popup_is-animated">
        <div class="popup__content popup__content_content_image">
          <button
            aria-label="close popup"
            type="button"
            class="popup__close"
          ></button>
          <img src="" alt="" class="popup__image" />
          <p class="popup__caption"></p>
        </div>
      </div>
      <div class="popup popup_type_edit-avatar popup_is-animated">
        <div class="popup__content">
          <button
            aria-label="close popup"
            type="button"
            class="popup__close"
          ></button>
          <h3 class="popup__title">Обновить аватар</h3>
          <form class="popup__form" name="popupEditAvatar" novalidate>
            <input
              type="url"
              id="avatarLink"
              name="link"
              class="popup__input popup__input_type_url"
              placeholder="Ссылка на картинку"
							pattern="^(https?:\/\/).*\.(jpeg|jpg|png|gif|bmp)$"
							data-error-message="Введите корректную ссылку на изображение"
							required
            />
            <span class="popup__input_type_error" id="link-input-error"></span>
            <button
              aria-label="save popup"
              type="submit"
							id="SaveAvatarButton"
              class="button popup__button"
            >
              Сохранить
            </button>
          </form>
        </div>
      </div>
    </div>

    <template id="card-template">
      <li class="places__item card">
        <img class="card__image" src="" alt="" />
        <button
          aria-label="delete card"
          type="button"
          class="card__delete-button"
        ></button>
        <div class="card__description">
          <h2 class="card__title"></h2>
          <div class="card__like-container">
            <button
              aria-label="like card"
              type="button"
              class="card__like-button"
            ></button>
            <div class="card__like-counter"></div>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
